g { background: #000000; }
.j	{ stroke: #000000; stroke-width: 1; }
.jc	{ stroke: #FFA0A0; stroke-width: 1; }
.jr	{ stroke: #C0C0C0; stroke-width: 1; }
.jx	{ stroke: #FFFFFF; stroke-width: 3; }
.jxc	{ stroke: #FFA0A0; stroke-width: 3; }
.jxr	{ stroke: #C000C0; stroke-width: 3; }
.jb	{ stroke: #A0A0FF; stroke-width: 3; fill: none; }

/* external system */
.eh	{ stroke: #A0F0A0; stroke-width: 1; fill: #111111; }
.el	{ stroke: #F0A0A0; stroke-width: 1; stroke-dasharray: 8, 4; fill: #111111; }
.e	{ stroke: #FFFFFF; stroke-width: 1; fill: #111111; }
.exh	{ stroke: #A0F0A0; stroke-width: 2; fill: #111111; }
.exl	{ stroke: #F0A0A0; stroke-width: 2; stroke-dasharray: 8, 3; fill: #111111; }
.ex	{ stroke: #000000; stroke-width: 2; fill: #111111; }

/* external system text */
.es	{ font-size: 9px; font-family: Arial, Helvetica, sans-serif; fill: #FFFFFF; }
.er	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #FFFFFF; }

/* system */
.sh	{ stroke: #A0F0A0; stroke-width: 1; }
.sl	{ stroke: #FFA0A0; stroke-width: 1; stroke-dasharray: 8, 3; }
.s	{ stroke: #FFFFFF; stroke-width: 1; }
.sc	{ stroke-width: 1.2; stroke-dasharray: 4, 3; }
.sx	{ stroke-width: 2.5; }

.scl	{ stroke: transparent; stroke-width: 2; fill: transparent; }

/* system text */
.ss	{ font-family: Arial, Helvetica, sans-serif; font-size: 9px; fill: #FFFFFF; }
.st	{ font-weight: bold; font-size: 7px; font-family: verdana, Arial, sans-serif; fill: #FFFFFF; }
.so	{ fill: #ffA0A0; }
.i	{ stroke: #A0E0FF; stroke-width: 1; fill: none; }

